.row
  .large-12.columns
    %h1 Clientes e proprietários

.row
  .large-12.columns
    %h4 Clientes

    %table
      %tr
        %th Nome
        %th Morada
        %th Número Telefone
        %th Email

      - @clients.each do |client|
        %tr
          %td= link_to client.name, client
          %td= client.address
          %td= client.phone_number
          %td= client.email
    %br

    %h4 Proprietários

    %table
      %tr
        %th Nome
        %th Morada
        %th Número Telefone
        %th Email

      - @owners.each do |owner|
        %tr
          %td= link_to owner.name, owner
          %td= owner.address
          %td= owner.phone_number
          %td= owner.email
    %br
