.row
  .large-12.columns
    %p#notice= notice
    - if @person.owner
      %h1 Proprietário
    - else
      %h1 Cliente

.row
  .large-6.columns
    %h4 Características
    %p
      %b Nome:
      = @person.name
    %p
      %b Morada:
      = @person.address
    %p
      %b Número telefone:
      = @person.phone_number
    %p
      %b Email:
      = @person.email

    = link_to 'Editar', edit_person_path(@person), :class => "button"

    = link_to 'Apagar', @person ,:method => :delete, :data => { :confirm => "Ao apagar este utilizador irá apagar imóveis e aluguers associados." }, :class => "button alert"


  .large-6.columns
    - unless @person.rentals.empty?
      %h4 Reservas
      %ul
        - @person.rentals.each do |rental|
          %li= link_to rental.house.address, rental

    - unless @person.houses.empty?
      %h4 Imóveis
      %ul
        - @person.houses.each do |house|
          %li= link_to house.address, house
