.row
  .large-12.columns
    %p#notice= notice
    - if @person.owner
      %h1 Proprietário
    - else
      %h1 Cliente

.row
  .large-6.columns
    %h4 Caracteristicas
    %p
      %b Nome:
      = @person.name
    %p
      %b Morada:
      = @person.address
    %p
      %b Número telefone:
      = @person.phone_number
    %p
      %b Email:
      = @person.email

    = link_to 'Edit', edit_person_path(@person), :class => "button"

  .large-6.columns
    %h4 Reservas
    %ul
      - @person.rentals.each do |rental|
        %li= link_to rental.house.address, rental.house


