.row
  .large-12.columns
    %p#notice= notice
    %h1 Imóvel

.row
  .large-6.columns
    %h4 Características
    %p
      %b Proprietário:
      = link_to @house.owner.name, @house.owner
    %p
      %b Morada:
      = @house.address
    %p
      %b Tipologia:
      = @house.category

    = link_to 'Edit', edit_house_path(@house), :class => "button"
    = link_to 'Apagar', @house ,:method => :delete, :data => { :confirm => "Ao apagar este imóvel irá apagar aluguers associados a este." }, :class => "button alert"

  .large-6.columns
    %h4 Reservas
    %ul
      - @house.rentals.each do |rental|
        %li= link_to rental.client.name, rental


