
=form_tag select_date_user_path(current_user), :method => :post, :class => "custom" do
  .row.collapse
    = select_date Date.today, {}, { :class => "large-3 columns custom dropdown small" }
    = submit_tag "Ir Para Data", :class => "large-3 columns button small pull-4"

.row
  .large-4.columns
    %h2 Ontem
    - if @entries_yesterday.count > 0
      %h4 Entradas
      %ul
        - @entries_yesterday.each do |entry|
          %li= link_to entry.client.name, entry
      %hr
    - if @exits_yesterday.count > 0
      %h4 Saídas
      %ul
        - @exits_yesterday.each do |exit|
          %li= link_to exit.client.name, exit
      %hr
    - if @empty_yesterday.count > 0
      %h4 Imóveis Livres
      %ul
        - @empty_yesterday.each do |empty_house|
          %li= link_to empty_house.address, empty_house
      %hr

  .large-4.columns.panel
    %h2 Hoje
    - if @entries_today.count > 0
      %h4 Entradas
      %ul
        - @entries_today.each do |entry|
          %li= link_to entry.client.name, entry
      %hr
    - if @exits_today.count > 0
      %h4 Saídas
      %ul
        - @exits_today.each do |exit|
          %li= link_to exit.client.name, exit
      %hr
    - if @empty_today.count > 0
      %h4 Imóveis Livres
      %ul
        - @empty_today.each do |empty_house|
          %li= link_to empty_house.address, empty_house
      %hr

  .large-4.columns
    %h2 Amanhã
    - if @entries_tomorrow.count > 0
      %h4 Entradas
      %ul
        - @entries_tomorrow.each do |entry|
          %li= link_to entry.client.name, entry
      %hr
    - if @exits_tomorrow.count > 0
      %h4 Saídas
      %ul
        - @exits_tomorrow.each do |exit|
          %li= link_to exit.client.name, exit
      %hr
    - if @empty_tomorrow.count > 0
      %h4 Imóveis Livres
      %ul
        - @empty_tomorrow.each do |empty_house|
          %li= link_to empty_house.address, empty_house
      %hr