.rows
  .large-12.columns
    %h1 Sign In

.row
  .large-6.columns
    = form_for @user, :url => signing_in_users_path, :method => :post do |f|
      - if @user.errors.any?
        #error_explanation
          %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg
      .field
        = f.label :email
        = f.text_field :email
      .field
        = f.label :password
        = f.password_field :password
      .actions
        = f.submit 'Entrar', :class => "button"

    %h4= link_to "Registe-se", new_user_path
