= form_for @rental, :html => { :class => "custom" } do |f|
  - if @rental.errors.any?
    #error_explanation
      %b= "#{pluralize(@rental.errors.count, "erro")} evitou com que gravasse esta reserva de aluguer:"
      %ul
        - @rental.errors.messages.each do |k, msg|
          %li= msg[0]
      %ul
        - @rental.errors.full_messages.each do |msg|
          %li= msg
  .field#client_list
    = f.label :person_id, "Cliente"
    - if new?(params) or params[:action] == "create"
      = f.select(:person_id, options_for_select(@clients), {}, { :class => "custom dropdown" })
    -else
      = f.select(:person_id, options_for_select(@clients, @rental.client.id), {}, { :class => "custom dropdown" })

  .field_container
  - if new?(params) or params[:action] == "create"
    .button#add_client
      Novo Cliente

  .field#house_list
    = f.label :house_id, "Imóvel"
    - if new?(params)
      = f.select(:house_id, options_for_select(@houses), {}, { :class => "custom dropdown" })
    -else
      = f.select(:house_id, options_for_select(@houses, @rental.house.id), {}, { :class => "custom dropdown" })

  .field
    = f.label :start_date, "Data Entrada"
    .row.collapse
      = f.date_select :start_date, {} , :class => "large-4 columns custom dropdown small"

  .field
    = f.label :end_date, "Data Saída"
    .row.collapse
      = f.date_select :end_date, {} , :class => "large-4 columns custom dropdown small"

  .field
    = f.label :notes, "Notas"
    = f.text_area :notes

  .actions
    - if new?(params)
      = f.submit "Criar Reserva", :class => "button"
    - else
      = f.submit "Alterar Reserva", :class => "button"

  %script{ :id => "client_fields", :type => "text/html" }
    %h4 Novo Cliente
    = f.fields_for :client do |builder|
      = builder.label :name, "Nome"
      = builder.text_field :name
      = builder.label :address, "Morada"
      = builder.text_field :address
      = builder.label :phone_number, "Número de Telefone"
      = builder.text_field :phone_number
      = builder.label :email, "Email"
      = builder.text_field :email
      %hr
