.row
  .large-12.columns
    %h1 Reservas

.row
  .large-12.columns
    %table
      %tr
        %th Cliente
        %th Imóvel
        %th Data Entrada
        %th Data Saída
        %th

      - @rentals.each do |rental|
        %tr
          %td= rental.client.name
          %td= rental.house.address
          %td= rental.start_date
          %td= rental.end_date
          %td= link_to "Ir", rental
%br
