%h1 Listing rentals

%table
  %tr
    %th Person
    %th House
    %th Start date
    %th End date
    %th Notes
    %th
    %th
    %th

  - @rentals.each do |rental|
    %tr
      %td= rental.person_id
      %td= rental.house_id
      %td= rental.start_date
      %td= rental.end_date
      %td= rental.notes
      %td= link_to 'Show', rental
      %td= link_to 'Edit', edit_rental_path(rental)
      %td= link_to 'Destroy', rental, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Rental', new_rental_path
