.row
  .large-12.columns
    %p#notice= notice
    %h1 Reserva Aluguer

.row
  .large-6.columns
    %h3= link_to "Imóvel:", @rental.house
    %p
      %b Proprietário:
      = link_to @rental.house.owner.name, @rental.house.owner
    %p
      %b Morada:
      = @rental.house.address
    %p
      %b Tipologia:
      = @rental.house.category
    %hr
    %p
      %b Cliente:
      = link_to @rental.client.name, @rental.client
    %p
      %b Data entrada:
      = @rental.start_date
    %p
      %b Data Saída:
      = @rental.end_date
    %p
      %b Notas:
      = @rental.notes

    = link_to 'Edit', edit_rental_path(@rental), :class => "button"
    = link_to 'Apagar', @rental ,:method => :delete, :data => { :confirm => "Deseja apagar esta reserva?" }, :class => "button alert"
